.form__control {
    background: linear-gradient(262deg, #410952, #3b0783, #f00776, #f00776);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 23s ease infinite;
    -moz-animation: AnimationName 23s ease infinite;
    -o-animation: AnimationName 23s ease infinite;
    animation: AnimationName 23s ease infinite;

    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

/* --------- FORM ITENS --------- */

.form__item_1 {
    float: right;
    background-color: #ffff;
    height: 100vh;
    width: 730px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.151);

    display: flex;
    flex-direction: column;
}

.btn-primary {
    color: #fff !important;
    text-decoration: none;
    position: relative;
    top: 35%;
    height: 50px;
    width: 180px;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: 300px;
}

.link__style {
    color: #fff !important;
    text-decoration: none;
}

.itens__flex {

    position: relative;
    margin-left: 335px;
    margin-top: 15px;
    text-decoration: none;
    top: 40%;
}

.form_camps {
    position: relative;
    top: 29%;
    margin-left: 260px;
}

.form_camps > input {
    margin-bottom: 50px;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.425);
}

.form_camps > label {
    font-size: 20px;
    text-transform: capitalize;
}

.form__item_1 > h1 {
    text-align: center;
    position: relative;
    top: 20%;
    font-size: 60px;
}

.validationCustom01 {
    border: 1px color rgb(219, 11, 11);
}
.form__item_2 > h4 {
    text-align: center;
    color: #fff;
    position: relative;
    top: 800px;
}
.form__item_2 > h1   {
    color: #fff;
    font-size: 45px;
    text-align: center;
    position: relative;
    top: 125px;
    text-transform: uppercase;
}

.form__item_2 > img {
    position: relative;
    top: 150px;
    margin-left: 350px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.322);
}